@using WebAppTinhVanCat_aspnetcore.Areas.Product.Models;
@model List<CartItem>
@{
    Layout = "_LayoutClient";
    ViewData["Title"] = "Giỏ hàng";

}
<h2 class="text-center">GIỎ HÀNG</h2>

<partial name="_StatusMessage" />

@if (Model.Count > 0)
{
    decimal total = 0;
    int stt = 1;

    <table class="table">
        <tr class="bg-danger text-light font-weight-bold ">
            <th>STT</th>
            <th>Ảnh</th>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
        @foreach (var cartitem in Model)
        {
            var thanhtien = cartitem.quantity * cartitem.product.Price;
            total += thanhtien;
            var srcimg = (cartitem.product.Photos != null)&&(cartitem.product.Photos.Count > 0) ? "/contens/Products/" + cartitem.product.Photos.First().FileName : "/contens/ico/nophoto.png";
            <tr>
                <td>@(stt++)</td>
                <td> <img class="cart-photo" src="@srcimg" alt=""> </td>
                <td>@cartitem.product.Title</td>
                <td>@cartitem.product.Price.ToPriceUnitVND()</td>
                <td><input asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.product.ProductId}")" /> @cartitem.product.UnitProduct.Unit </td>
                <td>@thanhtien.ToPriceUnitVND()</td>
                <td>
                    <button class="btn btn-success updatecartitem"
                    data-productid="@cartitem.product.ProductId">
                        Cập nhật
                    </button>
                    <a asp-route="removecart" asp-route-productid="@cartitem.product.ProductId"
               class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-right h5 font-weight-bold">Tổng tiền</td>
            <td class="text-danger h5">@total.ToPriceUnitVND()</td>
            <td></td>
        </tr>
    </table>
    <div class="text-center">
        <a asp-controller="Order" asp-action="Checkout" class="btn btn-success ">Mua Hàng</a>
    </div>
   

    @section Scripts {
    <script>
        $(document).ready(function () {
            $(".updatecartitem").click(function (event) {
                event.preventDefault();
                var productid = $(this).attr("data-productid");
                var quantity = $("#quantity-" + productid).val();
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("updatecart")",
                    data: {
                        productid: productid,
                        quantity: quantity
                    },
                    success: function (result) {
                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            });
        });
    </script>
      }

}
else
{
    <p class="alert alert-danger">Giỏ hàng trống</p>
}