@model IEnumerable<OrderModel> ;



@{
   
    Layout = "_LayoutClient";
    ViewData["Title"] = "Đơn hàng của tôi";
    
}


<partial name="_StatusMessage" />

<!-- DataTales  -->
<div class="card shadow mb-4">
    
    <div class="card-header py-3 ">
        <div >
            <h1 class="h2 text-center text-danger">Đơn hàng của tôi</h1>
        </div>
        <h6 class="m-0 font-weight-bold text-danger">Tổng số đơn hàng : @ViewBag.TotalOrder</h6>
       
    </div>



    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead class="bg-danger text-light">
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Số điện thoại nhận hàng 
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            Trang thái
                        </th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OrderModel item in Model)
                    {

                        <tr>
                            <td>
                                @(++ViewBag.OrderIndex)
                            </td>


                            <td>
                                @Html.DisplayFor(modelitem => item.Phone)
                            </td>
                            <td>
                                @item.Price.ToPriceUnitVND()
                            </td>
                            <td>
                                @item.CreateDate.ToShortDateString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Address)
                            </td>
                            @{
                                string idState = "state" + item.OrderId;
                            }
                            <td id="@idState" class="font-weight-bold">

                                @switch (item.State)
                                {
                                    case StateOrder.Received:
                                        <p  class="text-warning">Chờ xác nhận</p>
                                        break;
                                    case StateOrder.Accept:
                                        <p  class="text-primary">Đã xác nhận</p>
                                        break;
                                    case StateOrder.ShopCancel:
                                        <p  class="text-danger">Đã hủy</p>
                                        break;
                                    case StateOrder.CustomerCancel:
                                        <p  class="text-danger">Khách hủy</p>
                                        break;
                                    case StateOrder.Sucess:
                                        <p  class="text-danger">Đã Giao</p>
                                        break;
                                    case StateOrder.Transport:
                                        <p  class="text-danger">Đang giao</p>
                                        break;
                                    default:
                                        <p class="text-danger">Có lỗi</p>
                                        break;
                                }

                            </td>
                            
                            <td >

                                <a class="btn btn-sm btn-outline-primary" asp-action="OrderDetail" asp-route-ordercode="@item.OrderCode">Chi tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_PagingXTL" model="@ViewBag.PagingModel" />
        </div>
    </div>
</div>





@section Scripts{

}



