@model WebAppTinhVanCat_aspnetcore.Components.CategoryProductSidebar.CategoryProductSidebarData
@using WebAppTinhVanCat_aspnetcore.Components;


@{
    int level = Model.Level;
    
}

@if(Model.Categories.Count>0){

    @if (level==0)
    {
       
        @Html.Raw("<div class=\"categorysidebar\">")
        <div class="card-header bg-danger  font-weight-bold">
            <h4 >
                <a class="text-light" asp-controller="ViewProduct" asp-action="Index" asp-route-productslug="">
                    Danh mục sản phẩm
                </a>
            </h4>
        </div>
        
        @Html.Raw("<div class=\"card-body\">")
    }
    
    <ul>
        @foreach (var category in Model.Categories )
        {
            var cssActive = (category.Slug == Model.CategorySlug)? "active" : null; // đánh dấu css cho danh mục đang truy cập
            <li>
                <a class="@cssActive" asp-controller="ViewProduct" asp-action="Index" asp-route-productslug="@category.Slug">
                    @category.Title
                </a>
                @if (category.CategoryChildren?.Count > 0)  // duyệt đệ quy nếu có danh mục con
                {
                   @await Component.InvokeAsync("WebAppTinhVanCat_aspnetcore.Components.CategoryProductSidebar", 
                        new CategoryProductSidebar.CategoryProductSidebarData()// duyệt đệ quy danh mục con
                        {
                            Categories = category.CategoryChildren.ToList(),
                            Level = level+1,
                            CategorySlug = @ViewBag.categoryslug
                        })
                }


            </li>
        }
    </ul>
    @if (level == 0)
    {
        @Html.Raw("</div>")
        @Html.Raw("</div>")
    }
}
