@model WebAppTinhVanCat_aspnetcore.Models.Products.ProductModel

@{
    ViewData["Title"] = "Xóa sản phẩm";
    Layout = "/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Bạn có chắc muốn sản phẩm @Html.DisplayFor(model => model.Title)</h4>
    <h4>Không thể khôi phục sản phẩm đã xóa ! </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại danh sách sản phẩm</a>
    </form>
</div>
