@using WebAppTinhVanCat_aspnetcore.Models;
@model WebAppTinhVanCat_aspnetcore.Areas.Product.Models.CreateProductModel

@{
    ViewData["Title"] = "Cập nhật thông tin sản phẩm";
    var list = ViewData["categories"] as MultiSelectList;
}



<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" asp-controller="Product" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="CategoryIDs" class="control-label"></label>
                <select asp-for="CategoryIDs" multiple asp-items="list" class="w-100"></select>
                <span asp-validation-for="CategoryIDs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div>
                <input class="collapse" type="file" id="select-file-upload" onchange="AutoUploadPhoto()" />

                <span class="btn btn-primary" onclick="ClickButtonUpload()">Uploads hình ảnh</span>

            </div>
            <hr />
            <div id="box-photo-upload" class="d-flex flex-wrap photo-upload" data-id="@Model.ProductId">
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            


            <div class="form-group">
                <input type="submit" value="Cập nhật sản phẩm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở lại danh sách sản phẩm</a>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />

    <script>
        $("#CategoryIDs").multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false,
        });</script>

    <partial name="_ValidationScriptsPartial"/>
}
@{

    var summernote = new Summernote("#Content");
    summernote.height = 700;

    <script>


        function ClickButtonUpload() {

            $("#select-file-upload").click();
        }

        function AutoUploadPhoto() { //up ảnh thông qua api
            var ProductID = $("#box-photo-upload").data("id");

            var formData = new FormData();
            formData.append("id", ProductID);

            var totalfile = document.getElementById("select-file-upload").files.length;
            if (totalfile == 0) return;
            var file = document.getElementById("select-file-upload").files[0];
            formData.append("FileUpload", file);


            var urlUpload = "@Url.Action("UploadPhotoApi")"; // đường dẫn post về

            $.ajax({

                data: formData,// post data từ form về
                cache: false,
                url: urlUpload,
                type: "POST",
                contentType: false,
                processData: false,
                success: function (data) {

                    LoadPhoto();
                }

            });
        }

        function setClickDeletePhoto() { //thêm sự kiện click xóa ảnh cho thẻ span

            $("#box-photo-upload .photodetail span").click(function () {

                if (confirm("Bạn có chắc chắn xóa ảnh ?") != true) return;

                var spanButton = $(this);
                var id = spanButton.data("id");

                var formData = new FormData();
                formData.append("id", id);
                var urlDeletePhoto = "@Url.Action("DeletePhoto")"; // đường dẫn post về

                $.ajax({

                    data: formData,// post data từ form về
                    cache: false,
                    url: urlDeletePhoto,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        LoadPhoto();
                    }

                });
            });
        }


        function LoadPhoto() { //load danh sách hình ảnh
            var box = $("#box-photo-upload");
            var ProductID = box.data("id");
            box.empty();

            var formData = new FormData();
            formData.append("id", ProductID);
            var urlListPhoto = "@Url.Action("ListPhotos")"; // đường dẫn post về

            $.ajax({

                data: formData,// post data từ form về
                cache: false,
                url: urlListPhoto,
                type: "POST",
                contentType: false,
                processData: false,
                success: function (data) {

                    data.photos.forEach(function (item) {
                        var htmlphoto = $(
                            '<div class="photodetail w-25 p-1">'
                            + '<img class="w-100" src="' + item.path + '" />'
                            + '<span class="btn btn-danger" data-id="' + item.id + '"> Xóa ảnh </span></div>'
                        )
                        box.append(htmlphoto);
                    });
                    setClickDeletePhoto();
                }
            });

        }

        $(document).ready(function () {

            LoadPhoto();


        });
    </script>


}
<partial name="_Summernote" model="summernote" />
@{
    _AdminSideBarService.SetActive("Product", "Index", "Product");
}
@section Sidebar {
    @Html.Raw(_AdminSideBarService.renderHtml())
}