@model IEnumerable<ProductModel>;

@{
    ViewData["Title"] = "Danh sách các sản phẩm";
    
}


<partial name="_StatusMessage" />
<p>
    <a class="btn btn-primary" asp-action="Create">Thêm sản phẩm mới</a>
</p>



<div class="card shadow mb-4">
    <div class="card-header py-3">
       

        <h6 class="m-0 font-weight-bold text-primary">Tổng Số sản phẩm : @ViewBag.TotalProduct </h6>
    </div>

    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead class="bg-primary text-light">
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Published)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateUpdated)
                        </th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProductModel item in Model)
                    {

                        <tr>
                            <td>
                                @(++ViewBag.ProductIndex)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ProductId">
                                    @Html.DisplayFor(modelitem => item.Title)
                                </a>
                                <br />
                                <small>
                                    @item.Category.Title
                                </small>
                            </td>
                            <td>
                                <strong>@item.Price.ToPriceUnitVND()</strong> / @item.UnitProduct.Unit
                    

                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Published) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Author.UserName) 
                            <td>
                                @Html.DisplayFor(modelitem => item.DateUpdated) 
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.ProductId">Chi tiết</a> |
                                <a class="text-danger" asp-action="Delete" asp-route-id="@item.ProductId">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_PagingXTLPrimary" model="@ViewBag.PagingModel" />
        </div>
    </div>
</div>





@{
    _AdminSideBarService.SetActive("Product", "Index", "Product");
}
@section Sidebar {
    @Html.Raw(_AdminSideBarService.renderHtml())
}