@model IEnumerable<Contact>
@using Microsoft.EntityFrameworkCore;


@{
    ViewData["Title"] = "Danh Sách liên hệ ";
    _AdminSideBarService.SetActive("Contact", "Index", "Contact"); 
   
}


<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead class="bg-primary text-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateSent)
                        </th>
            
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateSent)
                            </td>
                
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                    
                                <a asp-action="Details" asp-route-id="@item.Id">Xem chi tiết</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Sidebar {
    @Html.Raw(_AdminSideBarService.renderHtml())
}
