@using WebAppTinhVanCat_aspnetcore.Components;
@using WebAppTinhVanCat_aspnetcore.Models.Products;
@model ProductModel;

@{
    List<CategoryProduct> categories = ViewBag.categories as List<CategoryProduct>;
    CategoryProduct category = ViewBag.category as CategoryProduct;
    ViewData["Title"] = Model.Title;
    IQueryable<ProductModel> otherProduct = ViewBag.otherProduct as IQueryable<ProductModel>;

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (category != null)
        {
            var listParent = category.ListParents();
            foreach (var item in listParent)
            {
                <li class="breadcrumb-item" >
                    <a asp-action="Index" asp-route-productslug="@item.Slug">
                @item.Title
                    </a> 
                </li>
            }
              <li class="breadcrumb-item" >
                    <a asp-action="Index" asp-route-productslug="@category.Slug">
                @category.Title
                    </a> 
                </li>
        }


    </ol>
</nav>

<div class="detailpost">
    <h2>@Model.Title</h2>
    <div class="sapo"> 
        @Model.Description
    </div>
    <div>
        <p>
            Giá : <strong>@Model.Price</strong>
            <a asp-action="AddToCart" asp-route-productid="@Model.ProductId" class="btn btn-danger">Đặt hàng</a>
        </p>
    </div>
    <div>
        <i>Cập nhật: @Model.DateUpdated.ToShortDateString()</i> 
    </div>
    <hr />
    @if (Model.Photos.Any())
    {
        <div class="d-flex flex-wrap justify-content-between" >
            @foreach (var photo in Model.Photos)
            {
                
                <img src="/contens/Products/@photo.FileName" class="w-50 p-1" alt="hehe hông có j hết">
            }
        </div>
    }

    <hr />
    @Html.Raw(Model.Content)
</div>





@section Sidebar {
    @await Component.InvokeAsync("WebAppTinhVanCat_aspnetcore.Components.CategoryProductSidebar",
    new CategoryProductSidebar.CategoryProductSidebarData()// chuyên data sang viewcomponent
    {
        Categories = categories,
        Level = 0,
        CategorySlug = (category != null)?  category.Slug : "" 
    })


    @if (otherProduct != null)
    {
         <ul class="list-group">
            @foreach (var post in otherProduct)
            {
                <li class="list-group-item">
                    <a asp-controller="ViewProduct" asp-action="Detail" asp-route-productslug="@post.Slug">
                        @post.Title
                    </a>
                </li>
            }
         </ul>
    }
   
}