@using WebAppTinhVanCat_aspnetcore.Components;
@using WebAppTinhVanCat_aspnetcore.Models.Products;
@model ProductModel;

@{
    List<CategoryProduct> categories = ViewBag.categories as List<CategoryProduct>;
    CategoryProduct category = ViewBag.category as CategoryProduct;
    ViewData["Title"] = Model.Title;
    IQueryable<ProductModel> otherProduct = ViewBag.otherProduct as IQueryable<ProductModel>;

}






<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (category != null)
        {
            var listParent = category.ListParents();
            foreach (var item in listParent)
            {
                <li class="breadcrumb-item" >
                    <a asp-action="Index" asp-route-productslug="@item.Slug">
                @item.Title
                    </a> 
                </li>
            }
              <li class="breadcrumb-item" >
                    <a asp-action="Index" asp-route-productslug="@category.Slug">
                @category.Title
                    </a> 
                </li>
        }

    </ol>
</nav>


<!-- chi tiêt -->


<div class="row detailpost">
    <div class="col-md-7 ">

        <div class="photo-detail">
            @if (Model.Photos.Any())
            {
                <img id="ImgDetail" src="/contens/Products/@Model.Photos.First().FileName" alt="">
            }
            else
            {
                <img src="/contens/ico/nophoto.png" alt="">
            }
            
        </div>
        <div class="photo-list">
            @if (Model.Photos.Any())
            {
                @foreach (var photo in Model.Photos)
                {
                    <div class="photo-list-item">
                        <img onclick="SetImgDetail(this)" src="/contens/Products/@photo.FileName"  alt="">
                    </div>
                }
            }
        </div>
        
    </div>
    <div class="col-md-5 ">
        <h4>@Model.Title</h4>
        <div class="sapo">
            @Model.Description
        </div>
        <div>
            <i>Cập nhật: @Model.DateUpdated.ToShortDateString()</i>
        </div>
        <hr />
        <div>
            <p>
                Giá : <strong>@Model.Price</strong>
                <a  asp-action="AddToCart" asp-route-productid="@Model.ProductId" class="btn btn-danger">Đặt hàng</a>
            </p>
        </div>
        
    </div>
</div>
<hr />
<h3>Thông tin sản phẩm</h3>
@Html.Raw(Model.Content)


<script>
    var imgSrc = document.getElementById("ImgDetail");

    function SetImgDetail(element){
        
       imgSrc.src = element.src;
        console.log(imgSrc.src);
    }

</script>


@section Sidebar {
    @await Component.InvokeAsync("WebAppTinhVanCat_aspnetcore.Components.CategoryProductSidebar",
    new CategoryProductSidebar.CategoryProductSidebarData()// chuyên data sang viewcomponent
    {
        Categories = categories,
        Level = 0,
        CategorySlug = (category != null)?  category.Slug : "" 
    })


    @if (otherProduct != null)
    {
         <ul class="list-group">
            @foreach (var post in otherProduct)
            {
                <li class="list-group-item">
                    <a asp-controller="ViewProduct" asp-action="Detail" asp-route-productslug="@post.Slug">
                        @post.Title
                    </a>
                </li>
            }
         </ul>
    }
   
}