@using WebAppTinhVanCat_aspnetcore.Components;
@using WebAppTinhVanCat_aspnetcore.Models.Product;
@model ProductModel;

@{

    Layout = "/Views/Shared/_LayoutClient.cshtml";
    List<CategoryProduct> categories = ViewBag.categories as List<CategoryProduct>;
    CategoryProduct category = ViewBag.category as CategoryProduct;
    ViewData["Title"] = Model.Title;
    IQueryable<ProductModel> otherProduct = ViewBag.otherProduct as IQueryable<ProductModel>;
   

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (category != null)
        {
            var listParent = category.ListParents();
            foreach (var item in listParent)
            {
                <li class="breadcrumb-item" >
                    <a asp-action="Index" asp-route-productslug="@item.Slug">
                @item.Title
                    </a> 
                </li>
            }
              <li class="breadcrumb-item" >
                    <a asp-action="Index" asp-route-productslug="@category.Slug">
                @category.Title
                    </a> 
              </li>
        }

    </ol>
</nav>


<!-- chi tiêt -->


<div class="row detailpost">
    <div class="col-md-6 ">

        <div class="photo-detail">
            @if (Model.Photos.Any())
            {
                <img id="ImgDetail" src="/contens/Products/@Model.Photos.First().FileName" alt="">
            }
            else
            {
                <img src="/contens/ico/nophoto.png" alt="">
            }
            
        </div>
        <div class="photo-list">
            @if (Model.Photos.Any())
            {
                @foreach (var photo in Model.Photos)
                {
                    <div class="photo-list-item">
                        <img onclick="SetImgDetail(this)" src="/contens/Products/@photo.FileName"  alt="">
                    </div>
                }
            }
        </div>
        
    </div>

    <div class="col-md-6 ">
        <h4 class="font-weight-bold"> @Model.Title</h4>
        
        <div>
            <p class="text-danger" ">@String.Format("{0:0.0}", Model.rating) <i class="far fa-star"></i></p>
            <i> Số lượng còn: @Model.Quantity</i> <i>Cập nhật: @Model.DateUpdated.ToShortDateString()</i>
            
        </div>
        <hr />
        <div>
            <p>
                <strong class="text-danger" style="font-size:17pt;" >@Model.Price.ToPriceUnitVND()</strong>
               
            </p>
            <a asp-controller="Order" asp-action="AddToCart" asp-route-productid="@Model.ProductId" class="btn btn-danger text-light">Đặt hàng</a>
        </div>
        
    </div>
</div>


<hr />

<h3 class="text-center" >Thông tin sản phẩm</h3>
<div class="text-center">
    <a href="#boxnoidung" aria-expanded="false" data-toggle="collapse" >xem thêm</a>
</div>




<div class="collapse mt-4" id="boxnoidung">
    <div class="card card-body ">
            @Html.Raw(Model.Content)
    </div>
</div>




<script>
    var imgSrc = document.getElementById("ImgDetail");

    function SetImgDetail(element){
        
       imgSrc.src = element.src;
        console.log(imgSrc.src);
    }

</script>


