
@using WebAppTinhVanCat_aspnetcore.Components;
@using WebAppTinhVanCat_aspnetcore.Models.Product;
@using WebAppTinhVanCat_aspnetcore.ExtendMethods;
@model List<ProductModel>


@{
    List<CategoryProduct> categories = ViewBag.categories as List<CategoryProduct> ;
    CategoryProduct category = ViewBag.category as CategoryProduct;
    ViewData["Title"] = (category != null)? category.Title : "Tất cả sản phẩm";
    
}

    
<nav aria-label="breadcrumb"> 
    <ol class="breadcrumb"> 
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (category != null)
        {
            var listParent = category.ListParents();
            foreach (var item in listParent)
            {
                <li class="breadcrumb-item" >
                    <a asp-action="Index" asp-route-productslug="@item.Slug">
                        @item.Title
                    </a> 
                </li>
            }
        }

    </ol>
</nav>

<h3> @ViewData["Title"] </h3>

@if (category != null)
{
    <p> @Html.Raw(category.Content) </p>
}
else
{
    <p>Sản phẩm thuộc tất cả các danh mục</p>
}
<div class="card-product d-flex flex-wrap justify-content-between ">
    @foreach (var product in Model)
    {
        var srcimg = product.Photos.Count > 0 ? "/contens/Products/" + product.Photos.First().FileName : "/contens/ico/nophoto.png";

        <div class="card mb-3" style="width: 32%">
            
            <a class="card-link" asp-controller="ViewProduct" asp-action="Detail" asp-route-productslug="@product.Slug">
                <div class="cart-img">
                    <img src="@srcimg" class="card-img-top" alt="">
                    
                </div>
            </a>
            <div class="card-body">
                <h5 class="card-title"> @product.Title</h5>
                <p>
                    Giá : <strong>@product.Price.ToPriceUnitVND()</strong>/@product.UnitProduct.Unit
                </p>
            </div>

            <div class="card-footer ">
                <a asp-controller="Order" asp-action="AddToCart" asp-route-productid="@product.ProductId" class="btn btn-primary ml-4 float-right">Đặt hàng</a>
            </div>
        </div>
    }
</div>
<partial name="_PagingXTL" model="@ViewBag.PagingModel" />



@section Sidebar {
    @await Component.InvokeAsync("WebAppTinhVanCat_aspnetcore.Components.CategoryProductSidebar",
    new CategoryProductSidebar.CategoryProductSidebarData()// chuyên data sang viewcomponent
    {
        Categories = categories, 
        Level = 0,
        CategorySlug = @ViewBag.categoryslug
    })
}



